In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns # advanced vizs
%matplotlib inline

In [2]:
df_train_store = pd.read_csv('data/train_store.csv', low_memory = False, index_col=['Unnamed: 0'])

In [3]:
df_train_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844338 entries, 0 to 844337
Data columns (total 24 columns):
Store                        844338 non-null int64
DayOfWeek                    844338 non-null int64
Sales                        844338 non-null int64
Customers                    844338 non-null int64
Open                         844338 non-null int64
Promo                        844338 non-null int64
StateHoliday                 844338 non-null object
SchoolHoliday                844338 non-null int64
Year                         844338 non-null int64
Month                        844338 non-null int64
Day                          844338 non-null int64
WeekOfYear                   844338 non-null int64
SalePerCustomer              844338 non-null float64
StoreType                    844338 non-null object
Assortment                   844338 non-null object
CompetitionDistance          844338 non-null float64
CompetitionOpenSinceMonth    844338 non-null float64
CompetitionOpenSinceYear     844338 non-null float64
Promo2                       844338 non-null int64
Promo2SinceWeek              844338 non-null float64
Promo2SinceYear              844338 non-null float64
PromoInterval                844338 non-null object
CompetitionOpenByMonth       844338 non-null float64
PromoOpenByMonth             844338 non-null float64
dtypes: float64(8), int64(12), object(4)
memory usage: 161.0+ MB

In [4]:
df_train_store.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,CompetitionOpenByMonth,PromoOpenByMonth
0,292,3,5076,672,1,0,0,1,2013,1,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
1,292,4,4580,662,1,0,0,1,2013,1,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
2,292,5,4202,560,1,0,0,1,2013,1,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
3,292,6,2748,340,1,0,0,0,2013,1,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
4,292,1,9291,1002,1,1,0,0,2013,1,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.459770

In [5]:
df_train_store['Date'] = df_train_store.apply(lambda x:datetime.strptime("{0} {1} {2}".format(x['Year'],x['Month'], x['Day']), "%Y %m %d"),axis=1)

In [6]:
df_train_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844338 entries, 0 to 844337
Data columns (total 25 columns):
Store                        844338 non-null int64
DayOfWeek                    844338 non-null int64
Sales                        844338 non-null int64
Customers                    844338 non-null int64
Open                         844338 non-null int64
Promo                        844338 non-null int64
StateHoliday                 844338 non-null object
SchoolHoliday                844338 non-null int64
Year                         844338 non-null int64
Month                        844338 non-null int64
Day                          844338 non-null int64
WeekOfYear                   844338 non-null int64
SalePerCustomer              844338 non-null float64
StoreType                    844338 non-null object
Assortment                   844338 non-null object
CompetitionDistance          844338 non-null float64
CompetitionOpenSinceMonth    844338 non-null float64
CompetitionOpenSinceYear     844338 non-null float64
Promo2                       844338 non-null int64
Promo2SinceWeek              844338 non-null float64
Promo2SinceYear              844338 non-null float64
PromoInterval                844338 non-null object
CompetitionOpenByMonth       844338 non-null float64
PromoOpenByMonth             844338 non-null float64
Date                         844338 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(12), object(4)
memory usage: 167.5+ MB

In [7]:
cols = df_train_store.columns.tolist()
print(cols)
cols = cols[-1:] + cols[:-1]
df_train_store = df_train_store[cols]

df_train_store

['Store', 'DayOfWeek', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Day', 'WeekOfYear', 'SalePerCustomer', 'StoreType', 'Assortment', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'CompetitionOpenByMonth', 'PromoOpenByMonth', 'Date']

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,CompetitionOpenByMonth,PromoOpenByMonth
0,2013-01-02,292,3,5076,672,1,0,0,1,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
1,2013-01-03,292,4,4580,662,1,0,0,1,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
2,2013-01-04,292,5,4202,560,1,0,0,1,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
3,2013-01-05,292,6,2748,340,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.229885
4,2013-01-07,292,1,9291,1002,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.459770
5,2013-01-08,292,2,6859,792,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.459770
6,2013-01-09,292,3,6436,765,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.459770
7,2013-01-10,292,4,6173,747,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.459770
8,2013-01-11,292,5,6316,756,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.459770
9,2013-01-12,292,6,3035,373,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.459770
10,2013-01-14,292,1,5560,784,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.689655
11,2013-01-15,292,2,4723,711,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.689655
12,2013-01-16,292,3,4979,671,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.689655
13,2013-01-17,292,4,4829,686,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.689655
14,2013-01-18,292,5,4943,644,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.689655
15,2013-01-19,292,6,2676,328,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.689655
16,2013-01-21,292,1,7863,916,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.919540
17,2013-01-22,292,2,6757,797,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.919540
18,2013-01-23,292,3,5969,710,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.919540
19,2013-01-24,292,4,5605,745,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.919540
20,2013-01-25,292,5,6229,737,1,1,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.919540
21,2013-01-26,292,6,3142,362,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24156.919540
22,2013-01-28,292,1,5510,769,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24157.149425
23,2013-01-29,292,2,4796,683,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24157.149425
24,2013-01-30,292,3,4351,653,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24157.149425
25,2013-01-31,292,4,5657,739,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,43.0,24157.149425
26,2013-02-01,292,5,5668,670,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,44.0,24157.149425
27,2013-02-02,292,6,3667,412,1,0,0,0,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,44.0,24157.149425
28,2013-02-04,292,1,7584,858,1,1,0,1,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,44.0,24157.379310
29,2013-02-05,292,2,7336,841,1,1,0,1,2013,...,a,1100.0,6.0,2009.0,0,0.0,0.0,0,44.0,24157.379310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844308,2015-06-27,1,6,4019,463,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,81.0,24185.977011
844309,2015-06-29,1,1,5197,541,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,81.0,24186.206897
844310,2015-06-30,1,2,5735,568,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,81.0,24186.206897
844311,2015-07-01,1,3,5223,562,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.206897
844312,2015-07-02,1,4,5558,573,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.206897
844313,2015-07-03,1,5,4665,538,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.206897
844314,2015-07-04,1,6,4797,560,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.206897
844315,2015-07-06,1,1,4359,540,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.436782
844316,2015-07-07,1,2,3650,485,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.436782
844317,2015-07-08,1,3,3797,485,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.436782
844318,2015-07-09,1,4,3897,480,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.436782
844319,2015-07-10,1,5,3808,449,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.436782
844320,2015-07-11,1,6,3530,441,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.436782
844321,2015-07-13,1,1,5054,553,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.666667
844322,2015-07-14,1,2,5042,544,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.666667
844323,2015-07-15,1,3,4767,550,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.666667
844324,2015-07-16,1,4,4427,517,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.666667
844325,2015-07-17,1,5,4852,519,1,1,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.666667
844326,2015-07-18,1,6,4406,512,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.666667
844327,2015-07-20,1,1,4395,526,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.896552
844328,2015-07-21,1,2,3558,469,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.896552
844329,2015-07-22,1,3,3464,463,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.896552
844330,2015-07-23,1,4,3769,503,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.896552
844331,2015-07-24,1,5,3706,459,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.896552
844332,2015-07-25,1,6,4364,500,1,0,0,0,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24186.896552
844333,2015-07-27,1,1,6102,612,1,1,0,1,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24187.126437
844334,2015-07-28,1,2,5011,560,1,1,0,1,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24187.126437
844335,2015-07-29,1,3,4782,523,1,1,0,1,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24187.126437
844336,2015-07-30,1,4,5020,546,1,1,0,1,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24187.126437
844337,2015-07-31,1,5,5263,555,1,1,0,1,2015,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,82.0,24187.126437

In [8]:
df_train_store = df_train_store.sort_values(by=['Date', 'Store'])
df_train_store = df_train_store.reset_index(drop=True)

In [9]:
df_train_store.head(50)

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,CompetitionOpenByMonth,PromoOpenByMonth
0,2013-01-01,85,2,4220,619,1,0,a,1,2013,...,a,1870.0,10.0,2011.0,0,0.0,0.0,0,15.0,24156.229885
1,2013-01-01,259,2,6851,1444,1,0,a,1,2013,...,b,210.0,0.0,0.0,0,0.0,0.0,0,24157.0,24156.229885
2,2013-01-01,262,2,17267,2875,1,0,a,1,2013,...,a,1180.0,5.0,2013.0,0,0.0,0.0,0,-4.0,24156.229885
3,2013-01-01,274,2,3102,729,1,0,a,1,2013,...,b,3640.0,0.0,0.0,1,10.0,2013.0,"Jan,Apr,Jul,Oct",24157.0,-2.068966
4,2013-01-01,335,2,2401,482,1,0,a,1,2013,...,a,90.0,0.0,0.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",24157.0,-6.896552
5,2013-01-01,353,2,3139,820,1,0,a,1,2013,...,b,900.0,0.0,0.0,1,14.0,2013.0,"Feb,May,Aug,Nov",24157.0,-2.988506
6,2013-01-01,423,2,9643,1751,1,0,a,1,2013,...,a,1270.0,5.0,2014.0,0,0.0,0.0,0,-16.0,24156.229885
7,2013-01-01,494,2,3113,527,1,0,a,1,2013,...,a,1260.0,6.0,2011.0,0,0.0,0.0,0,19.0,24156.229885
8,2013-01-01,512,2,2646,625,1,0,a,1,2013,...,b,590.0,0.0,0.0,1,5.0,2013.0,"Mar,Jun,Sept,Dec",24157.0,-0.919540
9,2013-01-01,530,2,2907,532,1,0,a,1,2013,...,c,18160.0,0.0,0.0,0,0.0,0.0,0,24157.0,24156.229885
10,2013-01-01,562,2,8498,1675,1,0,a,1,2013,...,c,1210.0,0.0,0.0,0,0.0,0.0,0,24157.0,24156.229885
11,2013-01-01,676,2,3821,777,1,0,a,1,2013,...,b,1410.0,9.0,2008.0,0,0.0,0.0,0,52.0,24156.229885
12,2013-01-01,682,2,3375,566,1,0,a,1,2013,...,a,150.0,9.0,2006.0,0,0.0,0.0,0,76.0,24156.229885
13,2013-01-01,733,2,10765,2377,1,0,a,1,2013,...,b,860.0,10.0,1999.0,0,0.0,0.0,0,159.0,24156.229885
14,2013-01-01,769,2,5035,1248,1,0,a,1,2013,...,b,840.0,0.0,0.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct",24157.0,1.195402
15,2013-01-01,948,2,4491,1039,1,0,a,1,2013,...,b,1430.0,0.0,0.0,0,0.0,0.0,0,24157.0,24156.229885
16,2013-01-01,1097,2,5961,1405,1,0,a,1,2013,...,b,720.0,3.0,2002.0,0,0.0,0.0,0,130.0,24156.229885
17,2013-01-02,1,3,5530,668,1,0,0,1,2013,...,a,1270.0,9.0,2008.0,0,0.0,0.0,0,52.0,24156.229885
18,2013-01-02,2,3,4422,650,1,0,0,1,2013,...,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",62.0,33.241379
19,2013-01-02,3,3,6823,805,1,0,0,1,2013,...,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",73.0,21.011494
20,2013-01-02,4,3,9941,1429,1,0,0,1,2013,...,c,620.0,9.0,2009.0,0,0.0,0.0,0,40.0,24156.229885
21,2013-01-02,5,3,4253,577,1,0,0,1,2013,...,a,29910.0,4.0,2015.0,0,0.0,0.0,0,-27.0,24156.229885
22,2013-01-02,6,3,6089,781,1,0,0,1,2013,...,a,310.0,12.0,2013.0,0,0.0,0.0,0,-11.0,24156.229885
23,2013-01-02,7,3,8244,955,1,0,0,1,2013,...,c,24000.0,4.0,2013.0,0,0.0,0.0,0,-3.0,24156.229885
24,2013-01-02,8,3,5419,698,1,0,0,1,2013,...,a,7520.0,10.0,2014.0,0,0.0,0.0,0,-21.0,24156.229885
25,2013-01-02,9,3,4903,481,1,0,0,1,2013,...,c,2030.0,8.0,2000.0,0,0.0,0.0,0,149.0,24156.229885
26,2013-01-02,10,3,4812,521,1,0,0,1,2013,...,a,3160.0,9.0,2009.0,0,0.0,0.0,0,40.0,24156.229885
27,2013-01-02,11,3,8913,1402,1,0,0,1,2013,...,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",14.0,12.000000
28,2013-01-02,12,3,5029,786,1,0,0,1,2013,...,c,1070.0,0.0,0.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",24157.0,33.241379
29,2013-01-02,13,3,3737,317,1,0,0,1,2013,...,a,310.0,0.0,0.0,1,45.0,2009.0,"Feb,May,Aug,Nov",24157.0,37.885057
30,2013-01-02,14,3,5253,671,1,0,0,1,2013,...,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",-14.0,15.034483
31,2013-01-02,15,3,4701,576,1,0,0,1,2013,...,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",34.0,21.011494
32,2013-01-02,16,3,6919,817,1,0,0,1,2013,...,c,3270.0,0.0,0.0,0,0.0,0.0,0,24157.0,24156.229885
33,2013-01-02,17,3,5593,827,1,0,0,1,2013,...,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct",85.0,30.252874
34,2013-01-02,18,3,5143,664,1,0,0,1,2013,...,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct",31.0,9.011494
35,2013-01-02,19,3,5763,603,1,0,0,1,2013,...,c,3240.0,0.0,0.0,1,22.0,2011.0,"Mar,Jun,Sept,Dec",24157.0,19.172414
36,2013-01-02,20,3,7110,858,1,0,0,1,2013,...,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",44.0,-20.965517
37,2013-01-02,21,3,3680,393,1,0,0,1,2013,...,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct",159.0,37.885057
38,2013-01-02,22,3,3514,453,1,0,0,1,2013,...,a,1040.0,0.0,0.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct",24157.0,7.172414
39,2013-01-02,23,3,4523,416,1,0,0,1,2013,...,a,4060.0,8.0,2005.0,0,0.0,0.0,0,89.0,24156.229885
40,2013-01-02,24,3,6907,745,1,0,0,1,2013,...,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",154.0,15.034483
41,2013-01-02,25,3,11944,1698,1,0,0,1,2013,...,a,430.0,4.0,2003.0,0,0.0,0.0,0,117.0,24156.229885
42,2013-01-02,26,3,5950,535,1,0,0,1,2013,...,a,2300.0,0.0,0.0,0,0.0,0.0,0,24157.0,24156.229885
43,2013-01-02,27,3,8674,1165,1,0,0,1,2013,...,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct",96.0,23.080460
44,2013-01-02,28,3,4958,609,1,0,0,1,2013,...,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec",-21.0,-25.149425
45,2013-01-02,29,3,5269,550,1,0,0,1,2013,...,c,2170.0,0.0,0.0,0,0.0,0.0,0,24157.0,24156.229885
46,2013-01-02,30,3,5683,943,1,0,0,1,2013,...,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",-13.0,-14.068966
47,2013-01-02,31,3,5122,567,1,0,0,1,2013,...,c,9800.0,7.0,2012.0,0,0.0,0.0,0,6.0,24156.229885
48,2013-01-02,32,3,3668,452,1,0,0,1,2013,...,a,2910.0,0.0,0.0,1,45.0,2009.0,"Feb,May,Aug,Nov",24157.0,37.885057
49,2013-01-02,33,3,8910,903,1,0,0,1,2013,...,c,1320.0,5.0,2013.0,0,0.0,0.0,0,-4.0,24156.229885

### Converts categorical features into numerical features

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
tmp = le.fit_transform(df_train_store['PromoInterval'])
df_train_store['PromoInterval'] = tmp

tmp1 = le.fit_transform(df_train_store['StateHoliday'])
df_train_store['StateHoliday'] = tmp1

tmp2 = le.fit_transform(df_train_store['StoreType'])
df_train_store['StoreType'] = tmp2

tmp3 = le.fit_transform(df_train_store['Assortment'])
df_train_store['Assortment'] = tmp3

### Splitting time series data into Train set and Test set

In [11]:
from sklearn.model_selection import TimeSeriesSplit

In [12]:
tscv = TimeSeriesSplit(n_splits=18)
print(tscv)

TimeSeriesSplit(max_train_size=None, n_splits=18)

In [13]:
X_columns = df_train_store.columns.values
X_columns = X_columns.tolist()
X_columns.remove('Sales')
#X_columns.remove('PromoOpenByMonth')
X_columns.remove('SalePerCustomer')
X_columns.remove('Customers')
X_columns.remove('CompetitionOpenSinceMonth')
X_columns.remove('CompetitionOpenSinceYear')
X_columns.remove('Promo2SinceWeek')
X_columns.remove('Promo2SinceYear')
X_columns.remove('Date')

In [14]:
X_columns

['Store',
 'DayOfWeek',
 'Open',
 'Promo',
 'StateHoliday',
 'SchoolHoliday',
 'Year',
 'Month',
 'Day',
 'WeekOfYear',
 'StoreType',
 'Assortment',
 'CompetitionDistance',
 'Promo2',
 'PromoInterval',
 'CompetitionOpenByMonth',
 'PromoOpenByMonth']

In [15]:
X, y = df_train_store[X_columns], df_train_store['Sales']

In [16]:
for train_index, test_index in tscv.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

TRAIN: [    0     1     2 ... 44451 44452 44453] TEST: [44454 44455 44456 ... 88889 88890 88891]
TRAIN: [    0     1     2 ... 88889 88890 88891] TEST: [ 88892  88893  88894 ... 133327 133328 133329]
TRAIN: [     0      1      2 ... 133327 133328 133329] TEST: [133330 133331 133332 ... 177765 177766 177767]
TRAIN: [     0      1      2 ... 177765 177766 177767] TEST: [177768 177769 177770 ... 222203 222204 222205]
TRAIN: [     0      1      2 ... 222203 222204 222205] TEST: [222206 222207 222208 ... 266641 266642 266643]
TRAIN: [     0      1      2 ... 266641 266642 266643] TEST: [266644 266645 266646 ... 311079 311080 311081]
TRAIN: [     0      1      2 ... 311079 311080 311081] TEST: [311082 311083 311084 ... 355517 355518 355519]
TRAIN: [     0      1      2 ... 355517 355518 355519] TEST: [355520 355521 355522 ... 399955 399956 399957]
TRAIN: [     0      1      2 ... 399955 399956 399957] TEST: [399958 399959 399960 ... 444393 444394 444395]
TRAIN: [     0      1      2 ... 444393 444394 444395] TEST: [444396 444397 444398 ... 488831 488832 488833]
TRAIN: [     0      1      2 ... 488831 488832 488833] TEST: [488834 488835 488836 ... 533269 533270 533271]
TRAIN: [     0      1      2 ... 533269 533270 533271] TEST: [533272 533273 533274 ... 577707 577708 577709]
TRAIN: [     0      1      2 ... 577707 577708 577709] TEST: [577710 577711 577712 ... 622145 622146 622147]
TRAIN: [     0      1      2 ... 622145 622146 622147] TEST: [622148 622149 622150 ... 666583 666584 666585]
TRAIN: [     0      1      2 ... 666583 666584 666585] TEST: [666586 666587 666588 ... 711021 711022 711023]
TRAIN: [     0      1      2 ... 711021 711022 711023] TEST: [711024 711025 711026 ... 755459 755460 755461]
TRAIN: [     0      1      2 ... 755459 755460 755461] TEST: [755462 755463 755464 ... 799897 799898 799899]
TRAIN: [     0      1      2 ... 799897 799898 799899] TEST: [799900 799901 799902 ... 844335 844336 844337]

### Evaluation of model

In [17]:
import xgboost 
from sklearn.model_selection import GridSearchCV
from pandas import Series
from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error
from sklearn.metrics import make_scorer

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

def rmspe(y, yhat):
    rmspe = np.sqrt( np.average( ( (y - yhat) / y) **2 ))
    return rmspe

rmspe_scorer = make_scorer(rmspe, greater_is_better=False)
rmspe_scorer

make_scorer(rmspe, greater_is_better=False)

### Evaluation of model

In [19]:
%%time
param_grid = {'n_estimators': [10,100,500],
             'max_depth': [3,5,10],
             'learning_rate': [0.001, 0.1,0.3]}

xgb = xgboost.XGBRegressor()
xgb_cv = GridSearchCV(xgb, param_grid, cv=3, scoring=rmspe_scorer)
xgb_cv.fit(X_train, y_train)

CPU times: user 6h 2min 45s, sys: 1min 17s, total: 6h 4min 3s
Wall time: 6h 5min 23s

In [20]:
#Print the tuned parameters and score
print("Tuned parameters: {}".format(xgb_cv.best_params_)) 
print("Best score is {}".format(xgb_cv.best_score_))
print("Best estimator is {}".format(xgb_cv.best_estimator_))

Tuned parameters: {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 500}
Best score is -0.2585117475133506
Best estimator is XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=10, min_child_weight=1, missing=None, n_estimators=500,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [24]:
%%time
print("Train a XGBoost model")

xgb = xgboost.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth=10)

xgb.fit(X_train, y_train)

Train a XGBoost model
CPU times: user 1h 29min 25s, sys: 24.4 s, total: 1h 29min 49s
Wall time: 2h 13min 19s

In [22]:
%%time

y_pred = xgb.predict(X_test)
print("MAE Mean Absolute Error: ", mean_absolute_error(y_test.values, y_pred))
print("MAE Mean Absolute % Error : ", mean_absolute_percentage_error(y_test.values, y_pred))
print("MSE : ", mean_squared_error(y_test.values, y_pred))
print("R^2 : ", r2_score(y_test.values, y_pred))
print("RMSPE : ", rmspe(y_test.values, y_pred))

MAE Mean Absolute Error:  792.5015383982692
MAE Mean Absolute % Error :  12.55500022948331
MSE :  1198104.867634873
R^2 :  0.8698322252264842
RMSPE :  0.17641323949015686
CPU times: user 6.73 s, sys: 81.4 ms, total: 6.81 s
Wall time: 6.9 s

In [27]:
%%time
print("Train a XGBoost model")

xgb = xgboost.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth=10)

xgb.fit(X_train, y_train)

Train a XGBoost model
CPU times: user 18min 27s, sys: 5.2 s, total: 18min 32s
Wall time: 18min 40s

In [28]:
%%time

y_pred = xgb.predict(X_test)
print("MAE Mean Absolute Error: ", mean_absolute_error(y_test.values, y_pred))
print("MAE Mean Absolute % Error : ", mean_absolute_percentage_error(y_test.values, y_pred))
print("MSE : ", mean_squared_error(y_test.values, y_pred))
print("R^2 : ", r2_score(y_test.values, y_pred))
print("RMSPE : ", rmspe(y_test.values, y_pred))

MAE Mean Absolute Error:  792.5015383982692
MAE Mean Absolute % Error :  12.55500022948331
MSE :  1198104.867634873
R^2 :  0.8698322252264842
RMSPE :  0.17641323949015686
CPU times: user 3.46 s, sys: 13.4 ms, total: 3.47 s
Wall time: 3.48 s